<div class="container">
  <div class="row">
    <div class="col" id="div-top-bar">
      <app-top-bar></app-top-bar>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1" id="div-left-menu">

    </div>
    <div class="col-md-10">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col" id="div-patient-table">
                <app-patients></app-patients>
              </div>
            </div>
            <div class="row">
              <div class="col" id="div-patient-recent-table">
                <app-patients-recent></app-patients-recent>
              </div>
            </div>
          </div>
          <div class="col-md-7" id="div-patient-details-form">
            <app-patient-details></app-patient-details>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1" id="div-logout-bar">
    </div>
  </div>
</div>
