/*.container{
  padding:1px;
}
#div-top-bar{
  height:10%;
  text-align:center;
  background-color:darkgrey;
}
#div-left-menu {
  background-color: darkcyan;  
  border: 1px solid;
}
#div-patient-table{
  background-color:azure;  
  border:1px solid;
}
#div-patient-recent-table {
  background-color:beige;  
  border: 1px solid;
}
#div-patient-details-form {
  background-color:khaki;  
  border: 1px solid;
}
#div-logout-bar{
  background-color:coral;
  border:1px solid;
}*/
