<div class="container">
  <div class="row">
    <app-top-bar></app-top-bar>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-sm-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="container">
              <div class="row">
                <div class="col">
                  <app-patient-table></app-patient-table>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <app-recent-patient-table></app-recent-patient-table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <app-logout-bar></app-logout-bar>
    </div>
  </div>
</div>
